name: upload

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  upload:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Runs a single command using the runners shell
      - name: Upload datasets
        uses: jaimevalero/push-kaggle-dataset@v3 # This is the action
        env:
          # Do not leak your credentials.
          KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
          KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}

        with:
          id:  "darraghdog/github-rsna22"
          title: "rsna2022 github"
          subtitle: "wololo"
          description: "iiiii "
          files:  |
                  *.py
                  models/*.py
                  data/*.py
                  configs/*.py
                  configs/*.json
                  scripts/*.py
                  postprocess/*.py
                  requirements.txt
                  requirements_sub.txt
                  
          is_public: true
